 Archivos y carpetas de Visual Studio
.vscode/
.vs/
*.code-workspace

# Archivos de compilación
bin/
obj/

# Archivos de sistema
.DS_Store
Thumbs.db

# Paquetes de NuGet
packages/
*.nupkg
project.lock.json

# Archivos de configuración de usuario de Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos temporales
*.tmp
*.log